<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app2">
        <h1>Mis compras</h1>
        <input v-model="producto" placeholder="nombre del producto" type="text">
        <button @click="agregar()">Agregar</button>
        <button @click="borrar()">Limpiar lista</button>
        
        <table>
            <tr v-for="producto in carrito">
                <th>{{producto}}</th>
            </tr>
        </table>
        <!-- <h1>Ingresa tu edad</h1>
        <input v-model="edad" type="number">
        <button @click="calcularEdad()">Calcular</button>
        <p>{{resultado}}</p> -->
        
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="carrito.js"></script>
    
</body>
</html>